In [2]:
from mlxtend.frequent_patterns import apriori,association_rules
from mlxtend.preprocessing import TransactionEncoder
import pandas as pd

In [4]:
df=pd.read_csv("book.csv")
df

      ChildBks  YouthBks  CookBks  ...  ItalAtlas  ItalArt  Florence
0            0         1        0  ...          0        0         0
1            1         0        0  ...          0        0         0
2            0         0        0  ...          0        0         0
3            1         1        1  ...          0        0         0
4            0         0        1  ...          0        0         0
...        ...       ...      ...  ...        ...      ...       ...
1995         0         0        1  ...          0        1         1
1996         0         0        0  ...          0        0         0
1997         0         0        0  ...          0        0         0
1998         0         0        1  ...          0        0         0
1999         0         0        0  ...          0        0         0

[2000 rows x 11 columns]

##apply apriori algorithem

In [5]:
frequent_itemsets = apriori(df, min_support=0.1, use_colnames=True)
frequent_itemsets

    support                       itemsets
0    0.4230                     (ChildBks)
1    0.2475                     (YouthBks)
2    0.4310                      (CookBks)
3    0.2820                     (DoItYBks)
4    0.2145                       (RefBks)
5    0.2410                       (ArtBks)
6    0.2760                      (GeogBks)
7    0.1135                     (ItalCook)
8    0.1085                     (Florence)
9    0.1650           (ChildBks, YouthBks)
10   0.2560            (ChildBks, CookBks)
11   0.1840           (DoItYBks, ChildBks)
12   0.1515             (RefBks, ChildBks)
13   0.1625             (ArtBks, ChildBks)
14   0.1950            (GeogBks, ChildBks)
15   0.1620            (CookBks, YouthBks)
16   0.1155           (DoItYBks, YouthBks)
17   0.1010             (ArtBks, YouthBks)
18   0.1205            (GeogBks, YouthBks)
19   0.1875            (DoItYBks, CookBks)
20   0.1525              (RefBks, CookBks)
21   0.1670              (ArtBks, CookBks)
22   0.1925             (GeogBks, CookBks)
23   0.1135            (CookBks, ItalCook)
24   0.1055             (RefBks, DoItYBks)
25   0.1235             (DoItYBks, ArtBks)
26   0.1325            (GeogBks, DoItYBks)
27   0.1105              (GeogBks, RefBks)
28   0.1275              (GeogBks, ArtBks)
29   0.1290  (ChildBks, CookBks, YouthBks)
30   0.1460  (DoItYBks, ChildBks, CookBks)
31   0.1225    (RefBks, ChildBks, CookBks)
32   0.1265    (ArtBks, ChildBks, CookBks)
33   0.1495   (GeogBks, ChildBks, CookBks)
34   0.1045  (GeogBks, DoItYBks, ChildBks)
35   0.1020    (GeogBks, ArtBks, ChildBks)
36   0.1015    (DoItYBks, ArtBks, CookBks)
37   0.1085   (GeogBks, DoItYBks, CookBks)
38   0.1035     (GeogBks, ArtBks, CookBks)

In [6]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=0.7)
rules

           antecedents         consequents  ...  leverage  conviction
0           (ChildBks)          (YouthBks)  ...  0.060308    1.233750
1           (YouthBks)          (ChildBks)  ...  0.060308    1.731000
2           (ChildBks)           (CookBks)  ...  0.073687    1.441240
3            (CookBks)          (ChildBks)  ...  0.073687    1.421069
4           (DoItYBks)          (ChildBks)  ...  0.064714    1.660347
..                 ...                 ...  ...       ...         ...
95  (GeogBks, CookBks)            (ArtBks)  ...  0.057107    1.641657
96   (ArtBks, CookBks)           (GeogBks)  ...  0.057408    1.904063
97           (GeogBks)   (ArtBks, CookBks)  ...  0.057408    1.332800
98            (ArtBks)  (GeogBks, CookBks)  ...  0.057107    1.415327
99           (CookBks)   (GeogBks, ArtBks)  ...  0.048547    1.148237

[100 rows x 9 columns]

In [7]:
rules.sort_values('lift',ascending = False)[0:20]

            antecedents          consequents  ...  leverage  conviction
28            (CookBks)           (ItalCook)  ...  0.064582    1.203406
29           (ItalCook)            (CookBks)  ...  0.064582         inf
78   (ChildBks, ArtBks)            (GeogBks)  ...  0.057150    1.944628
79            (GeogBks)   (ChildBks, ArtBks)  ...  0.057150    1.328448
86             (ArtBks)  (DoItYBks, CookBks)  ...  0.056313    1.403674
83  (DoItYBks, CookBks)             (ArtBks)  ...  0.056313    1.654797
97            (GeogBks)    (ArtBks, CookBks)  ...  0.057408    1.332800
96    (ArtBks, CookBks)            (GeogBks)  ...  0.057408    1.904063
98             (ArtBks)   (GeogBks, CookBks)  ...  0.057107    1.415327
95   (GeogBks, CookBks)             (ArtBks)  ...  0.057107    1.641657
54  (ChildBks, CookBks)             (RefBks)  ...  0.067588    1.506277
55             (RefBks)  (ChildBks, CookBks)  ...  0.067588    1.734652
77  (GeogBks, ChildBks)             (ArtBks)  ...  0.055005    1.591452
80             (ArtBks)  (GeogBks, ChildBks)  ...  0.055005    1.395719
85           (DoItYBks)    (ArtBks, CookBks)  ...  0.054406    1.301418
84    (ArtBks, CookBks)           (DoItYBks)  ...  0.054406    1.830626
67            (GeogBks)  (ChildBks, CookBks)  ...  0.078844    1.623273
66  (ChildBks, CookBks)            (GeogBks)  ...  0.078844    1.740319
90  (DoItYBks, CookBks)            (GeogBks)  ...  0.056750    1.718354
91            (GeogBks)  (DoItYBks, CookBks)  ...  0.056750    1.338806

[20 rows x 9 columns]

In [8]:
rules[rules.lift>1]

           antecedents         consequents  ...  leverage  conviction
0           (ChildBks)          (YouthBks)  ...  0.060308    1.233750
1           (YouthBks)          (ChildBks)  ...  0.060308    1.731000
2           (ChildBks)           (CookBks)  ...  0.073687    1.441240
3            (CookBks)          (ChildBks)  ...  0.073687    1.421069
4           (DoItYBks)          (ChildBks)  ...  0.064714    1.660347
..                 ...                 ...  ...       ...         ...
95  (GeogBks, CookBks)            (ArtBks)  ...  0.057107    1.641657
96   (ArtBks, CookBks)           (GeogBks)  ...  0.057408    1.904063
97           (GeogBks)   (ArtBks, CookBks)  ...  0.057408    1.332800
98            (ArtBks)  (GeogBks, CookBks)  ...  0.057107    1.415327
99           (CookBks)   (GeogBks, ArtBks)  ...  0.048547    1.148237

[100 rows x 9 columns]

##my_movies data

In [10]:
df1=pd.read_csv("my_movies.csv")
df1

              V1             V2             V3  ... LOTR Braveheart  Green Mile
0    Sixth Sense          LOTR1  Harry Potter1  ...    0          0           1
1      Gladiator        Patriot     Braveheart  ...    0          1           0
2          LOTR1          LOTR2            NaN  ...    0          0           0
3      Gladiator        Patriot    Sixth Sense  ...    0          0           0
4      Gladiator        Patriot    Sixth Sense  ...    0          0           0
5      Gladiator        Patriot    Sixth Sense  ...    0          0           0
6  Harry Potter1  Harry Potter2            NaN  ...    0          0           0
7      Gladiator        Patriot            NaN  ...    0          0           0
8      Gladiator        Patriot    Sixth Sense  ...    0          0           0
9    Sixth Sense           LOTR      Gladiator  ...    1          0           1

[10 rows x 15 columns]

In [12]:
df2=pd.get_dummies(df1)
df2.head()

   Sixth Sense  Gladiator  LOTR1  ...  V3_Sixth Sense  V4_Green Mile  V5_LOTR2
0            1          0      1  ...               0              1         1
1            0          1      0  ...               0              0         0
2            0          0      1  ...               0              0         0
3            1          1      0  ...               1              0         0
4            1          1      0  ...               1              0         0

[5 rows x 25 columns]

In [13]:
frequent_itemsets = apriori(df2, min_support=0.2, use_colnames=True)
frequent_itemsets

    support                                           itemsets
0       0.6                                      (Sixth Sense)
1       0.7                                        (Gladiator)
2       0.2                                            (LOTR1)
3       0.2                                    (Harry Potter1)
4       0.6                                          (Patriot)
..      ...                                                ...
76      0.4  (Sixth Sense, V3_Sixth Sense, Patriot, V2_Patr...
77      0.4  (Sixth Sense, V3_Sixth Sense, V2_Patriot, V1_G...
78      0.4  (Sixth Sense, V3_Sixth Sense, Patriot, V2_Patr...
79      0.4  (V3_Sixth Sense, Patriot, V2_Patriot, V1_Gladi...
80      0.4  (Sixth Sense, Patriot, V3_Sixth Sense, V2_Patr...

[81 rows x 2 columns]

In [14]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=0.7)
rules

          antecedents  ... conviction
0         (Gladiator)  ...        1.4
1       (Sixth Sense)  ...        1.8
2       (Sixth Sense)  ...        1.2
3           (Patriot)  ...        1.2
4        (Green Mile)  ...        inf
..                ...  ...        ...
649         (Patriot)  ...        1.8
650  (V3_Sixth Sense)  ...        inf
651      (V2_Patriot)  ...        1.8
652    (V1_Gladiator)  ...        1.8
653       (Gladiator)  ...        1.4

[654 rows x 9 columns]

In [15]:
rules.sort_values('lift',ascending = False)[0:20]

                         antecedents  ... conviction
327                 (V1_Sixth Sense)  ...        inf
34                      (Green Mile)  ...        inf
24                           (LOTR1)  ...        inf
25                           (LOTR2)  ...        inf
91                  (V1_Sixth Sense)  ...        inf
115                 (V1_Sixth Sense)  ...        inf
89                      (Green Mile)  ...        inf
88     (Sixth Sense, V1_Sixth Sense)  ...        inf
86         (Green Mile, Sixth Sense)  ...        inf
33                  (V1_Sixth Sense)  ...        inf
35                   (V4_Green Mile)  ...        inf
94      (Sixth Sense, V4_Green Mile)  ...        inf
40                   (V4_Green Mile)  ...        inf
41                  (V1_Sixth Sense)  ...        inf
181                 (V1_Sixth Sense)  ...        inf
180                  (V4_Green Mile)  ...        inf
179                     (Green Mile)  ...        inf
178  (V1_Sixth Sense, V4_Green Mile)  ...        inf
177     (Green Mile, V1_Sixth Sense)  ...        inf
176      (Green Mile, V4_Green Mile)  ...        inf

[20 rows x 9 columns]

In [16]:
rules[rules.lift>1]

          antecedents  ... conviction
0         (Gladiator)  ...        1.4
1       (Sixth Sense)  ...        1.8
2       (Sixth Sense)  ...        1.2
3           (Patriot)  ...        1.2
4        (Green Mile)  ...        inf
..                ...  ...        ...
649         (Patriot)  ...        1.8
650  (V3_Sixth Sense)  ...        inf
651      (V2_Patriot)  ...        1.8
652    (V1_Gladiator)  ...        1.8
653       (Gladiator)  ...        1.4

[654 rows x 9 columns]